@import url("http://fonts.googleapis.com/css?family=Cinzel:500");

* {
    font-family: sans-serif;
    box-sizing:  border-box;
}

html {
    padding-left:   0px;
    padding-bottom: 0px;
    padding-right:  0px;
    padding-top:    0px;
    width:          1024px;
    margin:         auto;
    --gap:          6rem;
    --maxwidth:     1024px;
}

body {
    background-color: #fdfdfd;
}

main {
    display:          flex;
}

.sidhuvud {
    display:             flex;
    align-items:         center;
    position:            relative;
    z-index:             2;
    border-bottom-color: rgb(100,100,100);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.sidhuvud_mitt {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink : 1;
}

.navigeringsrad {
    display: block;
}

.navigeringsrad > ul {
    display: flex;
}

.navigeringsrad > ul > li {
    padding: 10px;
    list-style-type: none;
}

.konto {
    position: fixed;
    z-index: 15;
    top: 0.10rem;
    right: var(--gap);
}

main {
    display:        flex;
    flex-direction: row;
}

section {
    display:        flex;
    flex-direction: column;
}

#artiklar {
    display:        flex;
    flex-direction: row;
}

#artiklar article:nth-of-type(1) p:nth-of-type(2) {
    color: blue;
}

/* header h1 {
    position:         absolute;
    top:              10px;
    background-color: #666600;
    border:           1px solid #000000;
    width:            10%;
}

header ul {
    position:         absolute;
    top:              20px;
    left:             400px;
}

header ul li {
    display:         inline-block;
    list-style-type: none;
}

#loginknapp {
    position:         absolute;
    top:              40px;
    left:             800px;
}

#logo {
    position:         relative;
    top:              10px;
    background-color: #666600;
    border:           1px solid #000000;
    width:            30%;
}

#navbar {
    position:         relative;
    top:              10px;
}

#navbar li {
    display:         inline-block;
    list-style-type: none;
}

article {
    float: left;
}

#artiklar {
}

#artiklar article {
    width:40%;
}
*/

#original_odhner {
    width: 300px;
}
